<!DOCTYPE html>
<html>
  <head>
    <title>Disaster Information Extraction</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='resultText.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-10/css/all.min.css"
      integrity="sha512-Pv1WJMqAtVgNNct5vhq+4cgkKinKpV1jCwSWD4am9CjwxsJSCkLWKcE/ZBqHnEE1mHs01c8B0GMvcn/pQ/yrog=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="table">
      <h1>{{sentence}}</h1>
      <br /><br />
      {%if result[0]|length %}
      <table class="Dis">
        <h3>Disaster:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[0] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {%if result[1]|length %}
      <table class="Dis-impact">
        <h3>Disaster Impact:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[1] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {%if result[2]|length %}
      <table class="Time">
        <h3>Time:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[2] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}{%if result[3]|length %}
      <table class="Num">
        <h3>Numerical Data:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[3] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>

      {% endif %}{%if result[4]|length %}
      <table class="Geo">
        <h3>Geographical Entity:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[4] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {%if result[5]|length %}
      <table class="Spe">
        <h3>Specific information:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[5] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {%if result[6]|length %}
      <table class="">
        <h3>Other:</h3>
        <thead>
          <td>Word</td>
          <td>Tag</td>
        </thead>
        {% for value in result[6] %}
        <tr>
          <th>{{value[0]}}</th>
          <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </body>
</html>
